
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-full {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.space-border {
    padding: 1rem;
}
